* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5vh 2vw;
}

nav a {
    padding: 2vh 2vw;
}


div nav {
    background-image: url('./resources/photo-1512295767273-ac109ac3acfa\ 1.jpg');
    background-repeat: no-repeat;
    height: 50vh;

}